* {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    font-family: Times, serif, 'Times New Roman', Times, serif, sans-serif;
    background-color: #ffffff;
    height: 100%;
}

.farmtrack-header {
    display: grid;
    grid-template-columns: 0.1fr 1fr 2fr 2fr; /* 4 sections: logo, title, menu, user section */
    align-items: center;
    background-color: #599149; /* Dark green */
    height: 60px;
    color: white;
}

.farmtrack-header div {
    display: flex;
    align-items: center;
    height: 100%; /* Ensure consistent height */
}

.farmtrack-header .title {
    padding-left: 20px;
    font-size: 2.7em;    
    border-right: 1px solid white; /* Create the "screen" effect between rubriker */
}
.logo {
    height: 45px;
    margin-left: 5px;
}

.main-menu ul {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    height: 100%; /* Four equal columns for the rubriker */    
}

.main-menu ul li {
    background-color: #599149;
    border-right: 1px solid white; /* Create the "screen" effect between rubriker */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
}

.main-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    height: 100%;
    line-height: 60px; /* Align text vertically */
    padding: 0px 20px;
}

.main-menu ul li a:hover {
    background-color: #4e7e40; /* Darker green */
    
}

.user-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    height: 100%;
    
}

.user-icon {
  border-radius: 50%; /* Gör bilden cirkulär */
  width: 40px; /* Justera bildens storlek */
  height: 40px; /* Justera bildens storlek */
  margin-right: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
  }
  
.user-name {
  font-weight: bold;
}

.logout-button {
    background-color: #4e7e40;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    
}

.logout-button:hover {
    background-color: #3e6a30; /* Even darker green on hover */
}

.submenu-section {
    background-color: #aad09f; /* Light green */
    display: flex;
    align-items: center;
    text-align: center;
    
}

.submenu {
    display: flex;
    align-items: center;
    margin-right: px;
    padding: 10px 10px;
    background-color: #aad09f; /* Background for submenu */
    border-right: 0.5px solid white; /* Add border like the rubriker */
    height: 100%;
}

.submenu:hover {
    background-color: #4e7e40;
    cursor: pointer;
}

.submenu a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.form-section {
    width: 45%;
    background-color: #e7f7e2; /* Light green */
    padding: 15px;
    border: 0.5px solid #aad09f;
}

.form-section h2 {
    margin-top: 0;
    font-weight: bold;
}

.form-section label {
    display: block;
    margin-top: 10px;
}

.form-section input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.form-section button {
    margin-top: 10px;
    background-color: #599149;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.form-section button:hover {
    background-color: #4e7e40;
}

.farmtrack-footer {
    background-color: #599149;
    color: white;
    text-align: left;
    padding: 2.5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Adjust spacing between form rows */
.form-row-pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-row-pair div {
    width: 48%; /* Each field takes half of the available space */
}

#create-crop-btn{
    width: 80px;
}

#description{
    width: 275px;
}

/* Tracker page*/

.tracker-content {
    display: flex;               /* Gör innehållet flexibelt för horisontell layout */
    justify-content: flex-start;  /* Starta från vänster, placerar form till vänster */
    align-items: flex-start;      /* Rikta sektionerna uppifrån och ner */
    gap: 20px;                    /* Lägg till mellanrum mellan form och tabell */
}

.tracker-form-wrapper{
    display:flex;
    flex-direction: column;
    width: 25%;    
    min-width: 350px;
}

.tracker-form-section {
    background-color: #e7f7e2;
    padding: 15px;
    border: 1px solid #599149;
    border-radius: 5px;
    margin-left: 15px; /* Space from the right wall */
    margin-top: 15px; /* Space from the top */
    overflow: hidden; /* Ensure nothing overflows the container */
}

.tracker-form-section h2 {
    padding-bottom: 15px;
    font-weight: bold;
    color: #333;
    text-align: left;
    font-size: 2em;
    margin-top: 0;
}

.tracker-form-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.tracker-form-section input {
    width: 80%;
    height: 5px;
    padding: 8px;
    border: 1px solid #aad09f;
    border-radius: 3px;
    margin-bottom: 10px;
}

.tracker-form-section button {
    width: 60px; /* Adjust the width to fit the text */
    height: 30px;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    font-size: 0.8em;
    border: 1px solid #020800;
    cursor: pointer;
    margin-top: 5px;
    margin-left: auto; /* Ensure the button is aligned to the right */
    display: block; /* This helps align the button inside the container */
}

.tracker-form-section button:hover {
    background-color: #aad09f;
}

.tracker-table-section {
    width: 70%;
    margin-top: 15px;
    margin-right: 15px;
    background-color: #e7f7e2;
    padding: 15px;
    border: 1px solid #599149;
    border-radius: 5px;
    min-height: 500px; /* Ensure that the table section takes more height */
    box-sizing: border-box;
}

.tracker-table-section table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e7f7e2;
    height: 100%; /* Ensure table fills the available height */
}

.tracker-checkbox {
    width: 20px;
    height: 20px;
}

.tracker-remove-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.tracker-remove-btn:hover {
    background-color: #d32f2f;
}

.tracker-table-section th, .tracker-table-section td {
    border: 1px solid #599149; /* Add border to match the design */
    padding: 20px 10px; /* Increase padding for taller rows */
    text-align: left;
    font-size: 1em;
    color: black;
}

.tracker-table-section th {
    font-weight: bold;
    text-align: left;
}

.tracker-table-section td {
    height: 60px; /* Ensure each row has a minimum height */
    color: #333;
}

.tracker-checkbox {
    width: 20px;
    height: 20px;
}

.tracker-remove-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.tracker-remove-btn:hover {
    background-color: #d32f2f;
}


/* Analysis page*/

.analysis-content{
    display: flex;               /* Gör innehållet flexibelt för horisontell layout */
    justify-content: flex-start;  /* Starta från vänster, placerar form till vänster */
    align-items: flex-start;      /* Rikta sektionerna uppifrån och ner */
    gap: 20px;   
}

.analysis-table-section{
    width: 70%;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #e7f7e2;
    padding: 15px;
    border: 1px solid #aad09f;
    border-radius: 5px;
    min-height: 500px; /* Ensure that the table section takes more height */
    box-sizing: border-box;
}

.analysis-table-section table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e7f7e2;
    height: 100%; /* Ensure table fills the available height */
}

.analysis-table-section th, .analysis-table-section td {
    border: 1px solid #aad09f; /* Add border to match the design */
    padding: 20px 10px; /* Increase padding for taller rows */
    text-align: left;
    font-size: 1em;
    color: black;
}

.analysis-table-section th {
    font-weight: bold;
    text-align: left;
}

.analysis-table-section td {
    height: 60px; /* Ensure each row has a minimum height */
    color: #333;
}

/* Login & register page */

.login-content{
    height: 90vh;
    display: flex;               /* Gör innehållet flexibelt för horisontell layout */
    justify-content: center;  /* Starta från vänster, placerar form till vänster */
    align-items: center;   
}

.login-form-section{
    background-color: gold;
    width: 40%;
    height: 40%;
    display: flex;
}

.login-wrapper{
    display:block;
}

.register-wrapper{
    display:none;
}

#form-row-button{
    display: flex;
}

#register-page-btn{
    margin-left: 0;
    width: 100px;
}
