@using FarmTrack.Models.Entities;
@{
    ViewData["Title"] = "Harvest";
}
<div class="tracker-content">
    <div class="tracker-form-wrapper">
        <section class="tracker-form-section">
            <h2>Create a new crop</h2>
            <form id="crop-create-form" asp-action="CreateCrop" method="post">
                <div class="form-row">
                    <label for="crop-name">Crop name</label>
                    <input type="text" id="crop-name" placeholder="Crop name" name="cropName">
                </div>

                <div class="form-row-pair">
                    <div>
                        <label for="planting-season-warm">Planting season (Warm climate)</label>
                        <input type="text" id="planting-season-warm" placeholder="Jan-June" name="plantingSeasonWarm">
                    </div>
                    <div>
                        <label for="planting-season-cold">Planting season (Cold climate)</label>
                        <input type="text" id="planting-season-cold" placeholder="Aug-Dec" name="plantingSeasonCold">
                    </div>
                </div>

                <div class="form-row-pair">
                    <div>
                        <label for="harvesting-season-warm">Harvesting season (Warm climate)</label>
                        <input type="text" id="harvesting-season-warm" placeholder="Jan-June" name="harvestSeasonWarm">
                    </div>
                    <div>
                        <label for="harvesting-season-cold">Harvesting season (Cold climate)</label>
                        <input type="text" id="harvesting-season-cold" placeholder="Aug-Dec" name="harvestSeasonCold">
                    </div>
                </div>

                <div class="form-row-pair">
                    <div>
                        <label for="days-to-grow">Days to grow</label>
                        <input type="number" id="days-to-grow" placeholder="100" name="daysToGrow">
                    </div>
                </div>
                <div class="form-row-pair">
                    <div>
                        <label for="description">Description</label>
                        <input type="text" id="description" placeholder="Wet earth, 2cm deep." name="cropDescription">
                    </div>
                </div>

                <button type="submit" id="create-crop-btn">Create crop</button>
            </form>
            @if (ViewBag.Error != null)
            {
                <div class="error-message">
                    <p>@ViewBag.Error</p>
                </div>
            }
        </section>

        <section class="tracker-form-section">
            <h2>Track a new crop</h2>
            <form id="crop-track-form" asp-action="TrackCrop" method="post">
                <div class="form-row">
                    <label for="farm-name">Farm name</label>
                    <input type="text" id="farm-name" placeholder="Farm name">
                </div>

                <div class="form-row-pair">
                    <div>
                        <label for="crop-name">Crop</label>
                        <select id="crop-name" name="">
                            <!-- Fill by reading in the crops in the database-->
                        </select>
                    </div>
                    <div>
                        <label for="amount">Amount (plants)</label>
                        <input type="number" id="amount" placeholder="Amount">
                    </div>
                </div>

                <div class="form-row-pair">
                    <div>
                        <label for="plant-date">Plant date</label>
                        <input type="date" id="plant-date">
                    </div>
                    <div>
                        <label for="harvest-date">Harvest date</label>
                        <input type="date" id="harvest-date">
                    </div>
                </div>

                <button type="button" id="addCropBtn">Add crop</button>
            </form>
            @if (ViewBag.Error != null)
            {
                <div class="error-message">
                    <p>@ViewBag.Error</p>
                </div>
            }
        </section>
    </div>

    <section class="tracker-table-section">
        <table>
            <thead>
                <tr>
                    <th>Farm</th>
                    <th>Crop</th>
                    <th>Amount</th>
                    <th>Plant date</th>
                    <th>Harvest date</th>
                    <th>Time left</th>
                    <th>Harvest alert</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody id="farm-data-table">
                <!-- New rows will be added here -->
            </tbody>
        </table>
    </section>
</div>