<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - FarmTrack</title>
    <link rel="stylesheet" href="~/FarmTrackWeb/site.css" />
    <link rel="icon" href="~/FarmTrackWeb/planting.png" type="image/png">
</head>
<body>
    <!-- Header -->
    <header class="farmtrack-header">
        <img class="logo" src="~/FarmTrackWeb/planting.png">
        <div class="title">FarmTrack</div>
        <nav class="main-menu">
            <ul>
                <li><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                <li><a asp-controller="Tracker" asp-action="Tracker">Tracking</a></li>
                <li><a asp-controller="Alert" asp-action="Alert">Alerts</a></li>
                <li><a asp-controller="Analysis" asp-action="Analysis">Analysis</a></li>
            </ul>
        </nav>

        <div class="user-section">
            <img src="https://via.placeholder.com/40" alt="User" class="user-icon">
            <div class="user-details">
                <span class="user-name">Användare</span>
                <a href="#" class="logout-button">Log out</a>
            </div>
        </div>
    </header>

    <!-- Submenu Section -->
    <section class="submenu-section">
        <div class="submenu">Submeny1</div>
        <div class="submenu">Submeny2</div>
    </section>


    <!-- Main Content Area -->
    
    <main role="main">
        @RenderBody()
    </main>
    

    <!-- Footer -->
    <footer class="farmtrack-footer">
        <p>Developed by Simon & Nasera</p>
    </footer>

    <script src="~/FarmTrackWeb/layout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

    
